@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');


*{
  color: rgb(53, 53, 53);
  font-family: 'Noto Sans JP', sans-serif;

}

.App {
  display: flex;
  flex-direction: column;
}

.content{
  display: flex;
}
.container{
  display: flex;
  flex-direction: column;
}

h6{
 text-align: center;
 margin-bottom:0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dddddd41;
}

.filter{
  height: 15rem;
  width: 15rem;
}

#minAge, #maxAge {
  width: 3.5rem;
}

.submitAge{
  margin-left: 1.5%;
  background-color: #e7e7e7; 
  color: rgb(33, 33, 33);
  border: none;
  padding: 3px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.submitAge:hover{
  background-color:rgb(33, 33, 33); 
  color:#e7e7e7;
  transition-duration: 0.2s;
}

.tableClass{
  margin: 4% 5%;
  margin-top: 1%;
}

a{
  text-decoration: none;
  color: gray;
}

input,.cursor{
  cursor: pointer
}

.firstName, .lastName{
  width: 8rem;
}

.age {
  width: 3.5rem;
}

.resetButton {
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.2s;
  cursor: pointer;
  
  background-color: rgb(67, 67, 67);
  color: white;
}

.resetButton:hover {
  background-color: white;

  color: rgb(67, 67, 67);
  border: 2px solid rgb(67, 67, 67);
}

.resetContainer{
  display: flex;
  justify-content: flex-end;
}

img {
  border-radius: 50%;
}