*{
  color: rgb(33, 33, 33);

}
.App {
  display: flex;
  justify-content: space-around;
  margin: 5%;
}

.content{
  display: flex;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.filter{
  height: 15rem;
  width: 15rem;
}

#minAge, #maxAge {
  width: 3.5rem;
}

.submitAge{
  margin-left: 1.5%;
  background-color: #e7e7e7; 
  color: rgb(33, 33, 33);
  border: none;
  padding: 3px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.submitAge:hover{
  background-color:  rgb(33, 33, 33); 
  color:#e7e7e7;
  transition-delay: 0.2s;
}

input,.cursor{
  cursor: pointer
}

.firstName, .lastName{
  width: 8rem;
}

.age {
  width: 3rem;
}