.App {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5%;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.filter{
  height: 15rem;
  width: 15rem;
  border: 1px solid blue;
}